{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "semi": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}
